@import url(start.css);
/* ======================================== Header ======================================== */
.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}
.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 104px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.header__logo {
  display: flex;
  align-items: center;
  flex: 1 1 auto;
}
.header__logo a {
  display: flex;
  align-items: center;
}
.header__logo span {
  display: inline-block;
  color: #000;
  font-family: Sora;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 120% */
  letter-spacing: -0.4px;
  text-transform: capitalize;
  flex: 1 1 auto;
}
.header__menu {
  flex: 1 1 auto;
}
.menu {
}
.menu__list {
  display: flex;
  column-gap: 32px;
}
.menu__item {
}
.menu__link {
  color: #000;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: -0.4px;
  text-transform: uppercase;
  transition: all 0.3s ease;
}
@media (min-width: 870px) {
  .menu__link:hover {
    color: #404040;
    text-decoration-line: underline;
  }
}
.header__button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 56px;
  padding: 16px 20px;
  gap: 8px;
  border-radius: 4px;
  background-color: #000;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: 0.4px;
  border: 2px solid #000;
  transition: background-color 0.3s ease;
  position: relative;
  z-index: 15;
}
.header__button:hover {
  background: #404040;
  border: 2px solid #404040;
}
.header__button:active {
  color: #000;
  border: 2px solid #000;
  background-color: transparent;
  background: url(/img/header/download-black.svg) 85% 50% no-repeat;
}
.header__button:active img {
  visibility: hidden;
}
/* ======================================== Header burger menu ======================================== */
.icon-menu {
  display: none;
}
.header__logo {
  position: relative;
  transition: all 0.3s ease;
  z-index: 15;
}
@media (max-width: 870px) {
  .header__container,
  .menu__list {
    column-gap: 10px;
  }
  .icon-menu {
    display: block;
    flex: 0 0 30px;
    height: 18px;
    position: relative;
    z-index: 15;
  }
  .icon-menu span,
  .icon-menu:before,
  .icon-menu:after {
    content: "";
    position: absolute;
    right: 0;
    width: 100%;
    height: 3px;
    border-radius: 5px;
    background-color: #000;
    transition: all 0.3s ease;
  }
  .icon-menu::before {
    top: 0;
  }
  .icon-menu::after {
    bottom: 0;
  }
  .icon-menu span {
    top: calc(50% - 2px);
  }
  .menu-open .icon-menu span {
    width: 0;
  }
  .menu-open .icon-menu:before {
    top: calc(50% - 2px);
    transform: rotate(-45deg);
  }
  .menu-open .icon-menu:after {
    bottom: calc(50% - 1px);
    transform: rotate(45deg);
  }
  .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #262626;
    z-index: 10;
    left: -100%;
    top: 0;
    padding: 120px 15px 30px 15px;
    overflow: auto;
    transition: left 0.3s ease;
    overflow: auto;
  }
  .menu__body::before {
    content: "";
    width: 100%;
    position: fixed;
    z-index: 10;
    top: 0;
    left: -100%;
    height: 70px;
    background-color: #262626;
    transition: left 0.3s ease;
  }
  .menu__list {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    row-gap: 10px;
  }
  .menu__link {
    font-size: 32px;
    color: #fff;
  }
}
.menu-open .menu__body,
.menu-open .menu__body::before {
  left: 0;
}
.menu-open .header__logo svg {
  fill: #fff;
  stroke: #fff;
}
.menu-open .header__logo span {
  color: #fff;
}
/* ================================================================================ */
@media (max-width: 991.98px) {
  .menu__list {
    gap: 20px;
  }
  .header__container {
    min-height: 90px;
  }
}
@media (max-width: 425.98px) {
  .header__logo span {
    display: none;
  }
}
/* ================================================================================ */
/* ======================================== Main-block ======================================== */
.page__main-block {
}
.main-block {
  padding-top: 164px;
  padding-bottom: 40px;
}
.main-block__container {
  display: flex;
  justify-content: space-between;
}
.main-block__content {
  max-width: 600px;
  flex: 0 1 55%;
}
.main-block__title {
  color: #000;
  font-family: Sora;
  font-size: 48px;
  font-weight: 400;
  line-height: 1.16;
  letter-spacing: -0.96px;
  max-width: 523px;
  margin-bottom: 32px;
}
.main-block__title span {
  color: #000;
  font-size: 48px;
  font-style: normal;
  font-weight: 800;
  line-height: 1.16;
  letter-spacing: -0.96px;
}
.main-block__text {
  color: #71717a;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
  margin-bottom: 120px;
}
.main-block__icons {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 32px;
  row-gap: 15px;
}
.main-block__icon {
  padding: 15px 16.4px;
  border-radius: 4px;
  border: 2px solid #000;
  max-width: 56px;
  transition: all 0.3s ease;
}
.main-block__icon svg {
  height: 20px;
  width: 20px;
}
.main-block__icon:hover {
  background-color: #000;
}
.main-block__icon:hover svg {
  fill: white;
}
.main-block__decor {
  flex: 0 1 45%;
  align-self: flex-end;
}
.main-block__image {
  position: relative;
  max-width: 889px;
  padding-bottom: 90%;
}
.main-block__image img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
  margin: 0px 0px 0px -100px;
}
@media (max-width: 991.98px) {
  .main-block {
    padding-top: 112px;
  }
  .main-block__decor {
    display: none;
  }
  .main-block__content {
    flex: 1 1 auto;
  }
  .main-block__text {
    margin-bottom: 50px;
  }
  .main-block__content,
  .main-block__title {
    max-width: none;
  }
}
@media (max-width: 425.98px) {
  .main-block__title {
    font-size: 30px;
    margin-bottom: 20px;
  }
  .main-block__title span {
    font-size: 30px;
  }
  .main-block__text {
    margin-bottom: 30px;
  }
  .main-block__icon {
    padding: 11px 13.2px;
    max-width: 48px;
  }
}
/* ================================================================================ */
/* ======================================== Skills ======================================== */
.page__skills {
}
.skills {
  padding-top: 80px;
  padding-bottom: 60px;
}
.skills__container {
}
.skills__title {
  text-align: center;
  margin-bottom: 80px;
}
.skills__items {
  display: grid;
  grid-template-columns: repeat(5, minmax(auto, 186px));
  justify-content: center;
  gap: 70px;
  justify-items: center;
}
.skills__item {
  text-align: center;
  padding: 24px;
  width: 100%;
  height: 186px;
  border-radius: 4px;
  border: 2px solid #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
}
.skills__icon {
  flex: 0 0 56px;
  height: 56px;
  width: 56px;
  margin-bottom: 32px;
  transition: all 0.3s ease;
}
.skills__item:hover svg {
  filter: invert(100%);
}
.skills__item:hover {
  background-color: #000;
  color: #fff;
}
.skills__name {
}
@media (max-width: 1230px) {
  .skills__items {
    grid-template-columns: repeat(4, minmax(auto, 186px));
    gap: 50px;
  }
}
@media (max-width: 991.98px) {
  .skills {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .skills__title {
    margin-bottom: 50px;
  }
  .skills__items {
    grid-template-columns: repeat(3, minmax(auto, 186px));
    gap: 30px;
  }
}
@media (max-width: 767.98px) {
  .skills {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .skills__title {
    margin-bottom: 40px;
  }
}
@media (max-width: 620.98px) {
  .skills__items {
    grid-template-columns: repeat(2, minmax(auto, 150px));
    justify-content: center;
    gap: 20px;
  }
  .skills__item {
    max-width: 150px;
    height: 150px;
  }
}
/* ================================================================================ */
/* ======================================== Experience ======================================== */
.page__experience {
}
.experience {
  background-color: #000;
  padding-top: 80px;
  padding-bottom: 60px;
}
.experience__container {
}
.experience__title {
  text-align: center;
  margin-bottom: 80px;
}
.experience__items {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}
.experience__item {
  display: block;
  border-radius: 10px;
  border: 1px solid #71717a;
  padding: 30px 24px;
  max-width: 1168px;
  transition: all 0.3s ease;
}
.experience__item:hover {
  background-color: #27272a;
}
.item-experience {
}
.item-experience__top {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  row-gap: 30px;
  margin-bottom: 30px;
}
.item-experience__title {
  color: #fff;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.16;
  letter-spacing: -0.48px;
  display: flex;
  align-items: center;
  gap: 30px;
  padding-right: 15px;
}
.item-experience__date {
  color: #d4d4d8;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.25; /* 20/16 */
  letter-spacing: -0.32px;
}
.item-experience__text {
  color: #d4d4d8;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.32px;
}
@media (max-width: 991.98px) {
  .experience {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .experience__title {
    margin-bottom: 50px;
  }
}
@media (max-width: 767.98px) {
  .experience {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .experience__title {
    margin-bottom: 40px;
  }
}
@media (max-width: 620.98px) {
  .item-experience__title {
    padding: 0;
  }
}
@media (max-width: 425.98px) {
  .item-experience__title {
    font-size: 20px;
  }
  .experience__item {
    padding: 18px;
    max-width: 1168px;
    transition: all 0.3s ease;
  }
}
/* ================================================================================ */
/* ======================================== About Me ======================================== */
.page__about-me {
}
.about-me {
  padding-top: 60px;
  padding-bottom: 60px;
}
.about-me__container {
  display: flex;
  justify-content: space-between;
}
.about-me__image {
  flex: 0 1 50%;
}
.about-me__image img {
  max-width: 100%;
}
.about-me__body {
  flex: 0 1 50%;
}
.about-me__title {
  margin-bottom: 40px;
}
.about-me__text {
  color: #71717a;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.32px;
}
.about-me__text p:not(:last-child) {
  padding-bottom: 20px;
}
@media (max-width: 1230px) {
  .about-me__container {
    display: flex;
    flex-direction: column;
  }
  .about-me__image {
    text-align: center;
    margin-bottom: 40px;
  }
}
@media (max-width: 991.98px) {
  .about-me {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
@media (max-width: 767.98px) {
  .about-me__title {
    margin-bottom: 30px;
  }
  .about-me__image img {
    max-height: 380px;
  }
}
/* ================================================================================ */
/* ======================================== Projects ======================================== */
.page__projects {
}
.projects {
  padding-top: 80px;
  padding-bottom: 120px;
  background-color: #000;
}
.projects__container {
}
.projects__title {
  text-align: center;
  margin-bottom: 100px;
}
.projects__items {
}
.projects__items > *:not(:last-child) {
  margin-bottom: 140px;
}
.projects__column {
  display: flex;
  justify-content: space-between;
}
.column-projects__image {
  display: block;
  flex: 0 1 50%;
}
.column-projects__image img:hover {
  transition: all 0.3s ease;
  transform: scale(1.05);
}
.column-projects__image img {
  max-width: 100%;
  border-radius: 18.761px;
  box-shadow: 0px 12px 42px -4px rgba(24, 39, 75, 0.12),
    0px 8px 18px -6px rgba(24, 39, 75, 0.12);
  transition: all 0.3s ease;
}
.column-projects__body {
  flex: 0 1 50%;
}
.column-projects__body > *:not(:last-child) {
  margin-bottom: 28px;
}
.column-projects__number {
  color: #fff;
  font-size: 48px;
  font-weight: 800;
  line-height: 1.16;
  letter-spacing: -0.96px;
}
.column-projects__title {
  color: var(--Primary-White, #fff);
  font-size: 32px;
  font-weight: 700;
  line-height: 1.25; /* 40/32 */
  letter-spacing: -0.64px;
}
.column-projects__text {
  color: #71717a;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5; /* 24/16 */
  letter-spacing: 0.32px;
}
.column-projects__icon {
}
.column-projects_1 {
}
.column-projects_2 {
  flex-direction: row-reverse;
}
.column-projects_3column-projects_3 {
}
.column-projects__image_1 {
  padding-right: 15px;
}
.column-projects__image_2 {
  padding-left: 15px;
}
.column-projects__image_3 {
  padding-right: 15px;
}
@media (max-width: 991.98px) {
  .projects {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .projects__title {
    margin-bottom: 60px;
  }
  .projects__column {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .column-projects__body {
    flex: 1 1 auto;
  }
  .column-projects__image {
    flex: 1 1 auto;
    margin-bottom: 28px;
  }
  .column-projects__image_1 {
    padding-right: 0px;
  }
  .column-projects__image_2 {
    padding-left: 0px;
  }
  .column-projects__image_3 {
    padding-right: 0px;
  }
  .projects__items > *:not(:last-child) {
    margin-bottom: 100px;
  }
}
@media (max-width: 767.98px) {
  .projects {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .projects__title {
    margin-bottom: 40px;
  }
  .projects__items > *:not(:last-child) {
    margin-bottom: 60px;
  }
}
/* ================================================================================ */
/* ======================================== Testimonial ======================================== */
.page__testimonial {
}
.testimonial {
  padding-top: 60px;
  padding-bottom: 100px;
}
.testimonial__container {
}
.testimonial__title {
  text-align: center;
  margin-bottom: 80px;
}
.testimonial__items {
  display: grid;
  grid-template-columns: repeat(3, minmax(auto, 370px));
  justify-content: center;
  gap: 30px;
}
.testimonial__item {
}
.item-testimonial {
  display: inline-block;
  text-align: center;
  padding: 40px;
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 0px 8px 16px -6px rgba(24, 39, 75, 0.08),
    0px 6px 8px -6px rgba(24, 39, 75, 0.12);
  transition: all 0.3s ease;
}
.item-testimonial:hover {
  background-color: #000;
  color: #fff;
}
.item-testimonial__image {
  position: relative;
  margin-bottom: 24px;
}
.item-testimonial__image img {
  border-radius: 50%;
  border: 2px solid #000;
}
.item-testimonial__image:after {
  content: url(/img/testimonial/decor-black.svg);
  position: absolute;
  bottom: 0;
  right: 30%;
}
.item-testimonial:hover .item-testimonial__image:after {
  content: url(/img/testimonial/decor-white.svg);
}
.item-testimonial:hover .item-testimonial__image img {
  border: 2px solid #fff;
}
.item-testimonial__text {
  color: #404040;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25; /* 20/16 */
  letter-spacing: 0.32px;
  position: relative;
  margin-bottom: 48px;
}
.item-testimonial__text:after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  bottom: -24px;
  background-color: #000;
  height: 3px;
  width: 120px;
}
.item-testimonial:hover .item-testimonial__text:after {
  background-color: #fff;
}
.item-testimonial:hover .item-testimonial__text {
  color: #fff;
}
.item-testimonial__name {
  color: var(--Primary-Neutral, #404040);
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.2; /* 24/20 */
  letter-spacing: -0.4px;
}
.item-testimonial:hover .item-testimonial__name {
  color: #fff;
}
.item-testimonial__profession {
  color: #71717a;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.25; /* 125% */
  letter-spacing: -0.32px;
}
.item-testimonial:hover .item-testimonial__profession {
  color: #fff;
}
@media (max-width: 991.98px) {
  .testimonial {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .testimonial__title {
    margin-bottom: 50px;
  }
  .testimonial__items {
    grid-template-columns: repeat(2, minmax(auto, 370px));
    gap: 25px;
  }
}
@media (max-width: 767.98px) {
  .testimonial {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .experience__title {
    margin-bottom: 40px;
  }
  .testimonial__items {
    grid-template-columns: repeat(1, minmax(auto, 370px));
    gap: 40px;
  }
}
@media (max-width: 425.98px) {
  .item-testimonial {
    padding: 24px;
  }
}
/* ================================================================================ */
/* ======================================== Talk ======================================== */
.page__talk {
}
.talk {
  padding-top: 60px;
  padding-bottom: 80px;
}
.talk__container {
  display: flex;
  justify-content: space-between;
}
.talk__inputs {
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex: 0 1 50%;
  max-width: 500px;
  padding-right: 15px;
}
.inputs-talk {
}
.inputs-talk__input {
  border-radius: 4px;
  border: 2px solid #000;
  padding: 16px 24px;
}
.inputs-talk__textarea,
.inputs-talk__input {
  color: #000;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.25; /* 20/16 */
  letter-spacing: -0.32px;
  transition: all 0.3s ease;
}
.inputs-talk__textarea:hover,
.inputs-talk__input:hover {
  border-radius: 4px;
  border: 2px solid #404040;
  background: var(--Zinc-100, #f4f4f5);
}
.inputs-talk__textarea:focus,
.inputs-talk__input:focus {
  box-shadow: 0px 4px 4px -2px rgba(24, 39, 75, 0.08),
    0px 2px 4px -2px rgba(24, 39, 75, 0.08);
  background: #fff;
}
.inputs-talk__textarea::placeholder,
.inputs-talk__input::placeholder {
  color: #71717a;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25; /* 20/16 */
  letter-spacing: -0.32px;
}
.inputs-talk__textarea {
  border: 2px solid #000;
  padding: 16px 24px;
  height: 140px;
}
.inputs-talk____row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 24px;
}
.inputs-talk__button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 56px;
  padding: 16px 20px;
  gap: 8px;
  border-radius: 4px;
  background-color: #000;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: 0.4px;
  border: 2px solid #000;
  transition: background-color 0.3s ease;
  z-index: 7;
  text-wrap: nowrap;
}
.inputs-talk__button:hover {
  background: #404040;
  border: 2px solid #404040;
}
.inputs-talk__button:active {
  color: #000;
  border: 2px solid #000;
  background-color: transparent;
}
.inputs-talk__icons {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 10px;
}
.inputs-talk__icon {
  padding: 15px 16.4px;
  border-radius: 4px;
  border: 2px solid #000;
  max-width: 56px;
  transition: all 0.3s ease;
}
.inputs-talk__icon:hover {
  background-color: #000;
}
.inputs-talk__icon:hover svg {
  fill: white;
}
.talk__body {
  padding-top: 85px;
  flex: 0 1 50%;
}
.talk__title {
  color: #000;
  font-size: 48px;
  font-weight: 800;
  line-height: 1.16; /* 116.667% */
  letter-spacing: -0.96px;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.talk__text {
  color: #71717a;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.32px;
  margin-bottom: 30px;
}
.talk__email {
  color: #000;
  font-size: 28px;
  font-weight: 600;
  line-height: 1.14; /* 32/28 */
  letter-spacing: -0.56px;
  margin-bottom: 16px;
}
.talk__number {
  color: #000;
  font-size: 28px;
  font-weight: 600;
  line-height: 1.14; /* 32/28 */
  letter-spacing: -0.56px;
}
@media (max-width: 991.98px) {
  .talk {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .talk__container {
    flex-direction: column-reverse;
    align-items: center;
  }
  .talk__body {
    flex: 1 1 auto;
    padding: 0;
    margin-bottom: 40px;
  }
  .talk__inputs {
    width: 100%;
    flex: 1 1 auto;
    max-width: none;
    padding-right: none;
  }
  .inputs-talk__input {
    width: 100%;
  }
  .talk__title {
    display: block;
  }
}
@media (max-width: 767.98px) {
  .talk {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .talk__title {
    font-size: 38px;
  }
}
@media (max-width: 425.98px) {
  .talk__title {
    font-size: 28px;
  }
  .talk__email {
    font-size: 20px;
  }
  .talk__number {
    font-size: 20px;
  }
  .inputs-talk__icon {
    padding: 11px 13.2px;
    max-width: 48px;
  }
}
/* ================================================================================ */
