@import url(start.css);
/* ======================================== Header ======================================== */
.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}
.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 104px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.header__logo {
  display: flex;
  align-items: center;
  flex: 1 1 auto;
}
.header__logo a {
  display: flex;
  align-items: center;
}
.header__logo span {
  display: inline-block;
  color: #000;
  font-family: Sora;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 120% */
  letter-spacing: -0.4px;
  text-transform: capitalize;
  flex: 1 1 auto;
}
.header__menu {
  flex: 1 1 auto;
}
.menu {
}
.menu__list {
  display: flex;
  column-gap: 32px;
}
.menu__item {
}
.menu__link {
  color: #000;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: -0.4px;
  text-transform: uppercase;
  transition: all 0.3s ease;
}
@media (min-width: 870px) {
  .menu__link:hover {
    color: #404040;
    text-decoration-line: underline;
  }
}
.header__button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 56px;
  padding: 16px 20px;
  gap: 8px;
  border-radius: 4px;
  background-color: #000;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: 0.4px;
  border: 2px solid #000;
  transition: background-color 0.3s ease;
  position: relative;
  z-index: 7;
}
.header__button:hover {
  background: #404040;
  border: 2px solid #404040;
}
.header__button:active {
  color: #000;
  border: 2px solid #000;
  background-color: transparent;
  background: url(/img/header/download-black.svg) 85% 50% no-repeat;
}
.header__button:active img {
  visibility: hidden;
}
/* ======================================== Header burger menu ======================================== */
.icon-menu {
  display: none;
}
.header__logo {
  position: relative;
  transition: all 0.3s ease;
  z-index: 5;
}
@media (max-width: 870px) {
  .header__container,
  .menu__list {
    column-gap: 10px;
  }
  .icon-menu {
    display: block;
    flex: 0 0 30px;
    height: 18px;
    position: relative;
    z-index: 5;
  }
  .icon-menu span,
  .icon-menu:before,
  .icon-menu:after {
    content: "";
    position: absolute;
    right: 0;
    width: 100%;
    height: 3px;
    border-radius: 5px;
    background-color: #000;
    transition: all 0.3s ease;
  }
  .icon-menu::before {
    top: 0;
  }
  .icon-menu::after {
    bottom: 0;
  }
  .icon-menu span {
    top: calc(50% - 2px);
  }
  .menu-open .icon-menu span {
    width: 0;
  }
  .menu-open .icon-menu:before {
    top: calc(50% - 2px);
    transform: rotate(-45deg);
  }
  .menu-open .icon-menu:after {
    bottom: calc(50% - 1px);
    transform: rotate(45deg);
  }
  .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    /* background-color: #404040; */
    background-color: #262626;
    left: -100%;
    top: 0;
    padding: 120px 15px 30px 15px;
    overflow: auto;
    transition: left 0.3s ease;
    overflow: auto;
  }
  .menu__body::before {
    content: "";
    width: 100%;
    position: fixed;
    top: 0;
    left: -100%;
    height: 70px;
    background-color: #404040;
    background-color: #262626;
    transition: left 0.3s ease;
  }
  .menu__list {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    row-gap: 10px;
  }
  .menu__link {
    font-size: 32px;
    color: #fff;
  }
}
.menu-open .menu__body,
.menu-open .menu__body::before {
  left: 0;
}
.menu-open .header__logo svg {
  fill: #fff;
  stroke: #fff;
}
.menu-open .header__logo span {
  color: #fff;
}
/* ================================================================================ */
@media (max-width: 991.98px) {
  .menu__list {
    gap: 20px;
  }
  .header__container {
    min-height: 90px;
  }
}
@media (max-width: 425.98px) {
  .header__logo span {
    display: none;
  }
}
/* ================================================================================ */
/* ======================================== Main-block ======================================== */
.page__main-block {
}
.main-block {
  padding-top: 164px;
  padding-bottom: 36px;
}
.main-block__container {
  display: flex;
  justify-content: space-between;
}
.main-block__content {
  max-width: 600px;
  flex: 0 1 55%;
}
.main-block__title {
  color: #000;
  font-family: Sora;
  font-size: 48px;
  font-weight: 400;
  line-height: 1.16;
  letter-spacing: -0.96px;
  max-width: 523px;
  margin-bottom: 32px;
}
.main-block__title span {
  color: #000;
  font-size: 48px;
  font-style: normal;
  font-weight: 800;
  line-height: 1.16;
  letter-spacing: -0.96px;
}
.main-block__text {
  color: #71717a;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
  margin-bottom: 120px;
}
.main-block__icons {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 32px;
  row-gap: 15px;
}
.main-block__icon {
  padding: 15px 16.4px;
  border-radius: 4px;
  border: 2px solid #000;
  max-width: 56px;
  transition: all 0.3s ease;
}
.main-block__icon svg {
  height: 20px;
  width: 20px;
}
.main-block__icon:hover {
  background-color: #000;
}
.main-block__icon:hover svg {
  fill: white;
}
.main-block__decor {
  flex: 0 1 45%;
  align-self: flex-end;
}
.main-block__image {
  position: relative;
  max-width: 889px;
  padding-bottom: 90%;
}
.main-block__image img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
  margin: 0px 0px 0px -100px;
}
@media (max-width: 991.98px) {
  .main-block {
    padding-top: 112px;
    padding-bottom: 36px;
  }
  .main-block__decor {
    display: none;
  }
  .main-block__content {
    flex: 1 1 auto;
  }
  .main-block__text {
    margin-bottom: 50px;
  }
  .main-block__content,
  .main-block__title {
    max-width: none;
  }
}
@media (max-width: 425.98px) {
  .main-block__title {
    font-size: 30px;
    margin-bottom: 20px;
  }
  .main-block__title span {
    font-size: 30px;
  }
  .main-block__text {
    margin-bottom: 30px;
  }
  .main-block__icon {
    padding: 11px 13.2px;
    max-width: 48px;
  }
}
/* ================================================================================ */
/* ======================================== Skills ======================================== */
.page__skills {
}
.skills {
  padding-top: 80px;
  padding-bottom: 60px;
}
.skills__container {
}
.skills__title {
  text-align: center;
  margin-bottom: 80px;
}
.skills__items {
  display: grid;
  grid-template-columns: repeat(5, minmax(auto, 186px));
  justify-content: center;
  gap: 70px;
  justify-items: center;
}
.skills__item {
  text-align: center;
  padding: 24px;
  width: 100%;
  height: 186px;
  border-radius: 4px;
  border: 2px solid #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
}
.skills__icon {
  flex: 0 0 56px;
  height: 56px;
  width: 56px;
  margin-bottom: 32px;
  transition: all 0.3s ease;
}
.skills__item:hover svg {
  filter: invert(100%);
}
.skills__item:hover {
  background-color: #000;
  color: #fff;
}
.skills__name {
}
@media (max-width: 1230px) {
  .skills__items {
    grid-template-columns: repeat(4, minmax(auto, 186px));
    gap: 50px;
  }
}
@media (max-width: 991.98px) {
  .skills {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .skills__title {
    margin-bottom: 50px;
  }
  .skills__items {
    grid-template-columns: repeat(3, minmax(auto, 186px));
    gap: 30px;
  }
}
@media (max-width: 767.98px) {
  .skills {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .skills__title {
    margin-bottom: 40px;
  }
}
@media (max-width: 620.98px) {
  .skills__items {
    grid-template-columns: repeat(2, minmax(auto, 150px));
    justify-content: center;
    gap: 20px;
  }
  .skills__item {
    max-width: 150px;
    height: 150px;
  }
}
/* ================================================================================ */
/* ======================================== Experience ======================================== */
.page__experience {
}
.experience {
  background-color: #000;
  padding-top: 80px;
  padding-bottom: 60px;
}
.experience__container {
}
.experience__title {
  text-align: center;
  margin-bottom: 80px;
}
.experience__items {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}
.experience__item {
  display: block;
  border-radius: 10px;
  border: 1px solid #71717a;
  padding: 30px 24px;
  max-width: 1168px;
  transition: all 0.3s ease;
}
.experience__item:hover {
  background-color: #27272a;
}
.item-experience {
}
.item-experience__top {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  row-gap: 30px;
  margin-bottom: 30px;
}
.item-experience__title {
  color: #fff;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.16;
  letter-spacing: -0.48px;
  display: flex;
  align-items: center;
  gap: 30px;
  padding-right: 15px;
}
.item-experience__date {
  color: #d4d4d8;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.25; /* 20/16 */
  letter-spacing: -0.32px;
}
.item-experience__text {
  color: #d4d4d8;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.32px;
}
@media (max-width: 991.98px) {
  .experience {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .experience__title {
    margin-bottom: 50px;
  }
}
@media (max-width: 767.98px) {
  .experience {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .experience__title {
    margin-bottom: 40px;
  }
}
@media (max-width: 620.98px) {
  .item-experience__title {
    padding: 0;
  }
}
@media (max-width: 425.98px) {
  .item-experience__title {
    font-size: 20px;
  }
  .experience__item {
    padding: 18px;
    max-width: 1168px;
    transition: all 0.3s ease;
  }
}
/* ================================================================================ */
/* ======================================== About Me ======================================== */
.page__about-me {
}
.about-me {
  padding-top: 60px;
  padding-bottom: 60px;
}
.about-me__container {
  display: flex;
  justify-content: space-between;
}
.about-me__image {
  flex: 0 1 50%;
}
.about-me__image img {
  max-width: 100%;
}
.about-me__body {
  flex: 0 1 50%;
}
.about-me__title {
  margin-bottom: 40px;
}
.about-me__text {
  color: #71717a;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.32px;
}
.about-me__text p:not(:last-child) {
  padding-bottom: 20px;
}
@media (max-width: 1230px) {
  .about-me__container {
    display: flex;
    flex-direction: column;
  }
  .about-me__image {
    text-align: center;
    margin-bottom: 40px;
  }
}
@media (max-width: 991.98px) {
  .about-me {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
@media (max-width: 767.98px) {
  .about-me__title {
    margin-bottom: 30px;
  }
  .about-me__image img {
    max-height: 380px;
  }
}
/* ================================================================================ */
